@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
  --primary-color: #292D3F;
  --secondary-color: #495871;
  --font-color: #d3dbe9;
  --secondfont-color: #FBCA57;
  --input-color: #7686A7;
}


.App {
  text-align: center;
  padding: 2% 2%;
  background-color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  color: var(--font-color)
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

.number-events-input{
  margin-top: 10px;
}

p {
  margin: 5px 0;
}

.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid black;
  font-size: 1.3rem;
  line-height: 26px;
  align-self: center;
  height: 50px;
  font-weight: 600;
  text-align: center;
  width: 400px;
  color: var(--secondfont-color);
  background-color: var(--input-color);
}

.city {
  width: 400px;
}

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  max-width: 400px;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 390px;
  z-index: 2;
  align-self: center;
  margin: 0;
  position: absolute;
  top: 2.1rem;
  font-size: 1rem;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
  border: 1px solid var(--secondfont-color);
  
}

.suggestions > li {
  text-align: left;
  padding: 8px;
  background-color: var(--primary-color);
  color: var(--secondfont-color);
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.suggestions > li:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.event-list{
padding:0;
}

.event {
  padding: 5px;
  margin: 5px;
  text-align: left;
  background-color: var(--secondary-color);
  border-radius: 20px;
  min-height: 300px;

} 

.details-link{
  color:var(--font-color);
}
.details-link:hover{
  color:var(--secondfont-color);
}
.details-link:visited{
  color:var(--font-color)
}
.subheaders {
  margin: 10px 0 10px 0; 
  font-size: 1.35rem;
}

.meet-title{
color: var(--secondfont-color);
font-size: 2.5rem;
}

.summary{
  margin: 0.1rem 0 0.1rem 0;
  color: var(--secondfont-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.details-button {
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--secondfont-color);
  font-family: 'Poppins', sans-serif;
  margin: 2px 0px;
}

.going,
.visibility {
  font-style: italic;
}

.description {
  overflow-x: hidden;
}

.numberOfEvents {
  width: 200px;
  margin: 20px auto;
  text-align: center;
  font-size: 1.3rem;
}
.card-body{
  padding-top: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.25rem;
  font-size: 0.9rem;
  line-height: 1.25;
}
h6{
  color: var(--secondfont-color);
}

.button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.Alert {
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--secondary-color);
  border-radius: 20px;
  margin: 5px 0.25px 2.5px;
}
.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}
.recharts-surface {
  overflow: visible;
}

.data-vis-wrapper .recharts-responsive-container {
  min-width: 100%;
  display: flex;
}

@media only screen and (min-width: 992px) {
  .data-vis-wrapper {
    flex-direction: row;
  }
  .data-vis-wrapper .recharts-responsive-container {
    flex-basis: 50%;
    max-width: 50%;
    min-width: auto;
    margin: 0 auto;
  }

}