@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: #292D3F;
  --secondary-color: #495871;
  --font-color: #d3dbe9;
  --secondfont-color: #FBCA57;
  --input-color: #7686A7;
}

.WelcomeScreen {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: var(--primary-color);
font-family: 'Poppins', sans-serif;
color: var(--secondfont-color);
text-align: center;
margin-top: 5px;
}
.welcome-title{
  margin-top: 10px;
}
.privacy{
color: #d3dbe9;
}
.privacy:hover{
color: var(--secondfont-color)
}

.google-btn {
width: 300px;
height: 60px;
margin: auto;
margin-bottom: 20px;
background-color: var(--secondary-color);
border-radius: 2px;
box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn:hover {
box-shadow: 0 0 6px var(--secondfont-color);
cursor: pointer;
}
google-btn:active {
background: var(--secondfont-color);
}
.google-icon-wrapper {
position: absolute;
margin-top: 1px;
margin-left: 2px;
width: 57px;
height: 57px;
border-radius: 2px;
background-color: lightgray;
}
.google-icon {
position: absolute;
margin-top: 17px;
margin-left: -11px;
width: 24px;
height: 24px;
}
.btn-text {
float: right;
color: var(--font-color);
margin: 0;
background-color: var(--secondary-color);
width: 80%;
height: 100%;
text-align: center;
float: right;
font-size: 20px;
font-family: 'Poppins', sans-serif;
}

.btn-text:hover{
  cursor: pointer;
  color: var(--secondfont-color);
}
a:visited {
  color: var(--font-color);
}